<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predictions</title>
</head>
<body>
     <h1>Prediction</h1>

    <form method="POST">
        {% csrf_token %}
        <label>Temperature:</label><br>
        <input type="number" name="temp" required><br>

        <label>Humidity:</label><br>
        <input type="number" name="hum" required><br>

        <label>pH Value:</label><br>
        <input type="number" name="ph" required><br><br>

        <button type="submit">Predict</button>
    </form>

    <br>
    <a href="{% url 'logout' %}">Logout</a>
    
</body>
</html>